*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    height: 800px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    gap: 80px;
    background-image: url("../img/quesos.jpg"); 
    background-size: cover;
    background-position: center;
}
.headercorto{
    height: 300px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/quesos.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.cont_navl{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    flex-direction: row;
    gap: 400px;
    width: 98%; 
}
.navegador {
    display: flex; 
    align-items: center;
}

.ul_navegador {
    display: flex;
    gap: 30px;
    list-style: none;
}

.ul_navegador .navh a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
}

.ul_navegador .navh a:hover {
    background-color: #D8C2B5;
}
#titulo {
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
    color: #f3e9e4;
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.cajah2 {
    display: flex;
    justify-content: center;
    gap: 10px;
} 
.boton_texto {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    width: 200px;
}

.boton_search {
    padding: 10px 20px;
    background-color: #8c8579;
    color: white;
    border: none;
    border-radius: 20px;
}

.boton_search:hover {
    background-color: #6c6154;
}
.data-recipiea{
    font-weight: bold;
    color: #8f9878;
}
.data-recipie :hover{
    font-weight: bold;
    color: #87898d;
}
.section_main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search-results{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}
.art_receta{
    display: flex;
    flex-direction: column;
    height: 325px;
    width: 15%;
    margin: 15px;
    background-color: #D8C2B5;
    padding: 10px;
    border-radius: 5px;
}
.img_receta{
    height: 200px;
}
body{
    background-color: #e4ddd9;
}
a{
    color: black;
    text-decoration: none;
}


footer{
    background-color: #C0C4B6;
    height: 50px;
    padding: 10px;
}
.pf{
    text-align: center;


}


.load-more{
    background-color: #D8C2B5;
    border: none;
    border-radius: 50px;
    padding: 12px 24px; 
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
    
}

.boton_enviar{
    background-color: #b49b8d;
    border: none;
    border-radius: 50px;
    padding: 12px 24px; 
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
}
.boton_registrarse{
    background-color: #b49b8d;
    border: none;
    border-radius: 50px;
    padding: 12px 24px; 
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
}

.section_detaller{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
    margin: 140px; 
    width: 80%; 
    padding: 5px;
    
}
.recipe-image {
    max-width: 50%; 
    height: auto; 
    border-radius: 10px;
    align-self: center;
    
}
.art_detalle {
    background-color: #fff6f4;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recipe-title {
    font-size: 20px;
    color: #4a4646;
    text-align: center;
}
.cargarmas{
    margin-bottom:20px;
}
.main_d_cat{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ulp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_resultados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recipe-cooking-time,
.recipe-instructions {
    font-size: 14px;
    margin-bottom: 15px;
}

.recipe-categories {
    list-style: none;
    padding: 0;
}

.recipe-categories li {
    margin-bottom: 10px;
}

.recipe-categories li a {
    color: #4C4C4C;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
}

.main_login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
}
.section_form{
    background-color: #aeafb1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    width: 300px;
    height: auto;
    padding: 10px;
    border: 2px rgb(129, 122, 122) solid;
    border-radius: 30px;
}

.form-container{
  background:#aeafb1;
  padding: 20px 30px;
  border: 2px rgb(129, 122, 122) solid;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_registro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h2reg {
    margin-bottom: 20px;
}
      
label {
    display: block;
    margin: 10px 0 5px;
}
      
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
      
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
      
.checkbox-container label {
    margin-left: 5px;
}
      
.buttreg {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
      
button:hover {
    background-color: #0056b3;
}
      
.error-message {
    color: red;
    font-size: 12px;
    margin: 0;
    height: 14px;
}

.categoriasht ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.categoriasht li {
    background-color: #fff6f4;
    padding: 15px 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 200px;
    flex-direction: column;
    list-style: none;
}

.categoriasht li:hover {
    color: #b3baa3;
}

.categoriasht a {
    color: #333;
    display: block;
    text-align: center;
}

.detalle_categories {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    align-items: stretch;
    padding: 20px;
}
.detll_cate{
    display: flex;
    flex-direction: column; 
    max-width: 400px; 
    margin: 10px; 
    background-color: #D8C2B5;
    padding: 15px;
    border-radius: 8px;
   
}
.h1_detalle{
    text-align: center;
}

.img_detalle{
    margin-bottom: 15px;
    margin-top: 15px;
    width: 80%; 
    height: 300px;  
    border-radius: 8px; 
    margin-left: 38px;
}
.detall_cate p{
    margin-top: 15px;
}

@media (max-width: 420px) {
    body {
        max-width: 100%; 
        margin: 0;
        padding: 0;
    }

    .art_receta {
        display: flex;
        flex-direction: column;
        width: 80%; 
        max-width: 300px;
        align-self: center; 
        text-align: center; 
        margin: 10px auto; 
    }

    .img_receta{
        width: 100%;
        border-radius: 10px; 
        margin-bottom: 10px;
    }

    .ul_navegador {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .section_header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navh {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .caja1, .caja2 {
        align-self: center;
    }

    .detll_cate {
        flex-basis: 100%;
        max-width: none;
        text-align: center;
    }
}